script(src=path + "js/jquery.js")
script(src=path + "js/slick.min.js")
script(src=path + "js/modal.js")
script(src=path + "js/jquery.inputmask.min.js")
script(src=path + "js/jquery.scrollbar.min.js")
script(src=path + "js/function.js?"+version+"")
